<section id="skill" class="skill">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Skills</h2>
      <hr class="star-primary" />
    </div>

    <!-- <div class="col-12 col-md-4">
      <h3>Web Design</h3>
      <p>
        Able to write websites from scratch, this website for example. I can
        also work with Photoshop
      </p>
    </div>
    <div class="col-12 col-md-4">
      <h3>Software Skills</h3>
      <p>
        Extensive knowledge on SQL, file, web, email server management.
        Understand basics of accounting software such as QuickBooks and MYOB.
      </p>
    </div>
    <div class="col-12 col-md-4">
      <h3>IT Management</h3>
      <p>
        Proven ability to lead an IT consultation team to provide support in
        diverse software integrations
      </p>
    </div> -->
    <div class="col-12 col-md-4">
      <i class="fas fa-cogs fa-5x text-danger mb-4"></i>
      <h1 class="text-white mb-3">Back End</h1>
      <p class="text-muted">NodeJS, PHP, Spring boot, java 8, JEE</p>
    </div>
    <div class="col-12 col-md-4">
      <i class="fas fa-crop fa-5x text-danger mb-4"></i>
      <h1 class="text-white mb-3">Front End</h1>
      <p class="text-muted">Angular, React, Bootstrap</p>
    </div>
    <div class="col-12 col-md-4">
      <i class="fas fa-database fa-5x text-danger mb-4"></i>
      <h1 class="text-white mb-3">Databases</h1>
      <p class="text-muted">SQL, NoSQL, mangodb, OpenSearch</p>
    </div>
  </div>
</section>
