<section id="education" class="education">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Education</h2>
      <hr class="star-primary" />
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6">
          <img
            class="w-100 p-3"
            src="assets/img/education/massey_university.png"
          />
        </div>
        <div class="col-12 col-md-6">
          <h1 class="text-white mb-3">
            <a href="assets/files/Graduate Diploma.jpg">
              Graduate Diploma in Science (Computer Science)
            </a>
          </h1>
          <h1 class="text-white mb-3">Massey University, New Zealand</h1>
          <p class="text-muted">2016 - 2017</p>
          <a
            href="assets/files/Transcript GradDip Chi Fung Stanley Yeung.pdf"
            class="btn btn-secondary"
          >
            Transcript
          </a>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6">
          <img
            class="w-100 p-3"
            src="assets/img/education/university_of_auckland.png"
          />
        </div>
        <div class="col-12 col-md-6">
          <h1 class="text-white mb-3">
            <a href="assets/files/Bachelor.jpg">
              Bachelor of Science (Computer Science)
            </a>
          </h1>
          <h1 class="text-white mb-3">University of Auckland, New Zealand</h1>
          <p class="text-muted">2010 - 2015</p>
        </div>
      </div>
    </div>
  </div>
</section>
