<div class="modal-header">
  <h4 class="modal-title">{{ experienceItem?.company }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <h3>{{ experienceItem?.position }}</h3>
    <h4>{{ experienceItem?.location }}</h4>
    <h4>{{ experienceItem?.start + " - " + experienceItem?.end }}</h4>
    <span [innerHtml]="experienceItem?.description"></span>
    <div *ngIf="experienceItem?.role">
      <h4>Role:</h4>
      <ul>
        <li *ngFor="let role of experienceItem?.role">
          <span>{{ role }}</span>
        </li>
      </ul>
    </div>
    <div *ngIf="experienceItem?.achievement">
      <h4>Achievment:</h4>
      <ul>
        <li *ngFor="let achievement of experienceItem?.achievement">
          <span>{{ achievement }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a
    *ngIf="experienceItem?.endpoint"
    class="btn btn-outline-dark float-start"
    [href]="experienceItem?.endpoint"
  >
    Company Website
  </a>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
